<div class="pb-4">
  <div class="row border">
    <h2 class="fs-5 p-2">List Karyawan</h2>
  </div>
  <div class="row border p-3">
    <button class="btn btn-primary col-1">Tambah</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Tanggal Lahir</th>
          <th scope="col">Jabatan</th>
          <th scope="col">NIP</th>
          <th scope="col">Jenis Kelamin</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>jae ho</td>
          <td>ranveer & ishani</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td class="d-flex justify-content-center">
            <a>
              <i class="fas fa-pencil-alt p-2 mx-2 bg bg-warning rounded text-white"></i>
            </a>
            <a>
              <i class="fas fa-trash p-2 mx-2 bg bg-danger rounded text-white"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row border">
    <h3 class="text-white"> haloo</h3>
  </div>
</div>
