<div class="pb-4">
  <div class="row border">
    <h2 class="fs-5 p-2">Add Data Karyawan</h2>
  </div>
  <div class="row border p-3">
    <form action="post">
      <div class="col-6">
        <h3 class="fs-6 ms-5">Nama</h3>
        <h3 class="fs-6 ms-5">Tanggal Lahir</h3>
        <h3 class="fs-6 ms-5">Jabatan</h3>
        <h3 class="fs-6 ms-5">NIP</h3>
        <h3 class="fs-6 ms-5"></h3>
      </div>
      <div class="col-6">

      </div>
    </form>
  </div>
  <div class="row border">
    <h3 class="text-white"> haloo</h3>
  </div>
</div>
